__pycache__/
*.pyc
build/
build_*/
.pio/
managed_components/
sdkconfig
Objects/
Listings/
DebugConfig/
*.o
*.d
*.crf
*.axf
*.lnp
*.htm
*.dep
*.iex
*.lst
*.map
*.uvguix.*
*.bak
~$*
Thumbs.db
desktop.ini
